

.col-md-3 ,
.col-sm-3 ,
.col-md-2 ,
.col-md-1 ,
.col-md-12 ,
.col-sm-12 ,
.col-md-4 ,
.col-md-6 ,
.col-xs-4,
.col-xs-8{
    float: right !important;
}

.col-md-offset-4{
    margin-right: 33% !important;
}

.errorText{
    color:red;
}

.error {
    border-color: #B94A48 !important;
    color: #B94A48;
}
.searchBox{
    direction: rtl;
}

.searchBox .form-control{
    border-top-left-radius : 3px !important;
    border-bottom-left-radius : 3px !important;
    border-top-right-radius : 0 !important;
    border-bottom-right-radius : 0 !important;
}

.searchBox .input-group-addon{
    border-top-right-radius : 3px !important;
    border-bottom-right-radius : 3px !important;
    border-top-left-radius : 0 !important;
    border-bottom-left-radius : 0 !important;
}