<div style="text-align: right" class="modal-header">
    <h3 class="modal-title">{{'deleteButtonText' | translate}}</h3>
</div>
<div style="text-align: right" class="modal-body">

    <h4> {{'deleteModalText' | translate}} </h4>

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">{{'general_close' | translate}}</button>
    <button style="padding-left: 15px;padding-right: 15px" class="btn btn-danger" ng-click="ok('ok')">{{'general_yes' | translate}}</button>
</div>